.tab {
    width: 100%;
    color: white;
    overflow: hidden;
  }
  .tab-label {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
            justify-content: space-between;
    padding: 1em;
    background: #292929;
    font-weight: bold;
    cursor: pointer;
    /* Icon */
  }
  .tab-label:hover {
    background: grey;
  }
  .tab-label::after {
    content: "\276F";
    width: 1em;
    height: 1em;
    text-align: center;
    -webkit-transition: all .35s;
    transition: all .35s;
  }
  .tab-content {
    max-height: 0;
    padding: 0 1em;
    color: #292929;
    background: white;
    -webkit-transition: all .35s;
    transition: all .35s;
  }
  .tab-close {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: end;
            justify-content: flex-end;
    padding: 1em;
    font-size: 0.75em;
    background: #292929;
    cursor: pointer;
  }
  .tab-close:hover {
    background: grey;
  }
  
  input{
    display: none;
  }
  input:checked + .tab-label {
    background: #292929;
  }
  input:checked + .tab-label::after {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  input:checked ~ .tab-content {
    max-height: 100vh;
    padding: 1em;
  }