<section class="header">
    <app-header></app-header>
</section>
<section class="images-carousel">
    <app-hero-text 
        preHeader="Próxima promoción:" 
        header='"La Pinada"' 
        subHeader="Viviendas adosadas en l'Alcúdia de Crespins"></app-hero-text>
    <app-images-slider></app-images-slider>
</section>
<section class="context-container">
    <app-hero-text header='¿Cuál es su ubicación?' id="ubicacion"></app-hero-text>
    <app-google-map></app-google-map>
    <app-hero-text subHeader='La zona:' id="caracteristicas"></app-hero-text>
    <section class="features-container">
        @for (card of featureCardData; track $index) {
            <app-feature-card
                icon = {{card.icon}}
                title = {{card.title}}
                text= {{card.text}}
            ></app-feature-card>
        }
    </section>
</section>
<section class="houses-container">
    <app-hero-text subHeader='Características de las viviendas' id="viviendas"></app-hero-text>
    <div class="rt-container">
        <div class="col-rt-12">
            <div class="Scriptcontent">
                <div class="container">
              <div class="tabs">
                @for (item of listItemData; track $index) {
                    <app-list-item
                        index = {{$index}}
                        summary = {{item.summary}}
                        text = {{item.text}}
                    ></app-list-item>
                }
  </div>  
          </div>
          </div>
      </div>
  </div>
</section>
<section class="contact-form">
    <app-hero-text header='Apúntate a la lista de espera' subHeader='O resuelve cualquier duda' id="viviendas"></app-hero-text>
    <app-contact-form></app-contact-form>
</section>