<section class="header">
    <app-header></app-header>
</section>
<section class="images-carousel">
    <app-hero-text header='Próxima promoción "La Pinada"' subHeader="Viviendas adosadas en l'Alcúdia de Crespins"></app-hero-text>
    <app-images-slider></app-images-slider>
</section>
<section class="context-container">
    <app-hero-text header='¿Cuál es su ubicación?'></app-hero-text>
    <app-google-map id="ubicacion"></app-google-map>
    <app-hero-text subHeader='La zona:'></app-hero-text>
    <app-feature-card></app-feature-card>
</section>