<div class="container">
    <form target="_blank" action="https://formsubmit.co/e1dcf14d85bb165f330c8908bce7786a" method="POST">      
        <input name="name" type="text" class="feedback-input" placeholder="Nombre" required/>
        <input type="hidden" name="_autoresponse" value="your custom message">
        <input type="hidden" name="_next" value="https://lapinada.vercel.app/thanks">
        <input name="email" type="email" class="feedback-input" placeholder="Email" required/>
        <textarea name="text" class="feedback-input" placeholder="Comentario" required></textarea>
        <input type="submit" value="Enviar"/>
    </form>
</div>
